<h2>Your Cart</h2>

{{#if products.length}}
{{#each products as |product|}}
    <div class="col-sm-4 pb-5 pt-5">
        <img src="{{product.image}}" alt="{{product.description}}" class="img-responsive">
        <div class="caption"></div>
        <h3>{{product.title}}</h3>
        <p class="description">{{product.description}}</p>
        <div class="clearfix">
            <div class="price pull-left">${{product.price}}</div>
            <h3>Qty</h3>
            <p class="cartId">{{product.cart.id}}</p>
                <button class="decrease" data-id = "{{product.cart.id}}">-</button>
                <p class="qty" data-id = "{{product.cart.id}}" id="qty-{{product.cart.id}}">{{product.cart.qty}}</p>
                <button class="increase" data-id = "{{product.cart.id}}">+</button>
                <button class="delete" data-id = "{{product.cart.id}}">Delete</button>
        </div>
    </div>
{{/each}}
{{else}}
<h3>You have no items in your cart. <a href="/api/products">Go shopping!</a></h3>
{{/if}}



<script src="/js/cart.js"></script>